<template name="admin">
    {{>nav}}
    <div class="row white-text">
        <div class="input-field col l2">
            <input id="bowlName" type="text" class="validate">
            <label for="bowlName">Bowl Name/Location</label>
        </div>
        <div class="input-field col l3">
            <input id="team1" type="text" class="validate">
            <label for="team1">Team 1</label>
        </div>
        <div class="input-field col l3">
            <input id="team2" type="text" class="validate">
            <label for="team2">Team 2</label>
        </div>
        <div class="input-field col l2">
            <input id="bowlDate" type="date" class="validate datepicker">
            <label for="bowlDate">Bowl Date</label>
        </div>
        <div class="input-field col l2">
            <select id="season">
                <option value="" disabled selected>Choose your option</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
            </select>
            <label for="season">Season</label>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <a id="addBowl" class="waves-effect waves-cyan btn-large btn-outline">Add Bowl</a>
        </div>
        <div class="col l4 m4 s12">
            <a id="submitWinners" class="waves-effect waves-cyan btn-large btn-outline">Submit Winners</a>
        </div>
        <div class="col l4 m4 s12">
            <a id="addSeason" class="waves-effect waves-cyan btn-large btn-outline">Add New Season</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h5 class="inline left white-text"> Winners </h5>
        </div>
        {{#each bowls}}
        <div class="col s12 m6 l6">
            <div class="card card-small card-container" data-season="{{season}}">
                <div class="deleteBowl">
                    <i class="fa fa-times"></i>
                </div>
                <div class="row cyan darken-1 white-text">
                    <div class="col s12 m12 l12">
                        <h4 id="name" class="inline left">{{bowlName}}</h4>
                        <p class="inline right">{{date}}</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s6 m6 l6 center">
                            <div class="team-pick card {{isWinner team=team1 name=bowlName season=season}}">
                                <div class="card-content">
                                    <h5 class="team">{{team1}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m6 l6 center">
                            <div class="team-pick card {{isWinner team=team2 name=bowlName season=season}}">
                                <div class="card-content">
                                    <h5 class="team">{{team2}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
