<template name="bowlPicks">
    {{>nav}}
    {{loadData}}
    <div class="row bowlContainer">
        <div class="row  valign-wrapper">
        <div class="col m12 s12 l7" id="winLossCount">
                <h4>Record: {{winCount}} - {{lossCount}}</h4> 
        </div>
        {{#unless isLocked}}
            <div class="col m12 s12 l5">
                <a id="submitPicks" class="waves-effect waves-cyan btn-large btn-outline right valign">Submit Bowl Picks</a>
            </div>
        {{/unless}} 
        </div>
        {{#if isLocked}}
        <div class="row">
            <div class="col l12">
                <h4 class="white-text">Bowls have begun! May the odds be ever in your favor.</h4>
            </div>
        </div>
        {{/if}} {{#each bowls}}
        <div class="col l4 s12 m12">
            <div class="card card-small card-container game-container" data-season="{{season}}">
                <div class="row card-header white-text {{isCorrect bowlName=bowlName season=season team=team1}}">
                    <div class="col s12 m12 l12">
                        <h4 id="name" class="inline left truncate">{{bowlName}}</h4>
                        <p class="inline right">{{date}}</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s6 m6 l6 center">
                            {{#if isLocked}}
                            <div class="card">
                                <div class="card-content {{isPicked bowlName=bowlName season=season team=team1}}">
                                    <h5 class="pickText truncate">{{team1}}</h5>
                                </div>
                            </div>
                            {{else}}
                            <div class="team-pick card">
                                <div class="card-content {{isPicked bowlName=bowlName season=season team=team1}}">
                                    <h5 class="pickText truncate">{{team1}}</h5>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col s6 m6 l6 center">
                            {{#if isLocked}}
                            <div class="card">
                                <div class="card-content {{isPicked bowlName=bowlName season=season team=team2}}">
                                    <h5 class="pickText truncate">{{team2}}</h5>
                                </div>
                            </div>
                            {{else}}
                            <div class="team-pick card">
                                <div class="card-content {{isPicked bowlName=bowlName season=season team=team2}}">
                                    <h5 class="pickText truncate">{{team2}}</h5>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}} 
        {{#if championshipExists}}
        <div class="col s12 m12 l12">
            <div class="card card-small card-container champ-container">
                <div class="row white-text {{isCorrect bowlName='championship' season='2015'}}">
                    <div class="col s12 m12 l12">
                        <h4 id="name" class="inline left text-black">Championship</h4>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <select id="championshipPick">
                                <option value="" disabled {{selected team='default' }}>Choose your option</option>
                                {{#each playoffTeams}}
                                <option value="{{.}}" {{selected team=.}}>{{.}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-field col s6 m4 l4">
                            <input id="winningScore" type="text" class="validate" value="{{pickScores score='winning'}}">
                            <label for="winningScore" class="{{isActive}}">Winning Score</label>
                        </div>
                        <div class="input-field  col s6 m4 l4">
                            <input id="losingScore" type="text" class="validate" value="{{pickScores score='losing'}}">
                            <label for="losingScore" class="{{isActive}}">Losing Score</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <script type="text/javascript">
    $('document').ready(function() {
        $('select').material_select();
    });
    </script>
</template>
