<template name="home">
    {{>nav}}
    <div class="container center home-container">
        <div class="row">
            <div class="col l4">
                <div class='light'>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                </div>
                 <div class="light-pole"></div>
            </div>
            <div class="col l4">
                <div class='light'>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                </div>
                <div class="light-pole"></div>
            </div>
            <div class="col l4">
                <div class='light'>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                    <div class='light-column'>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                        <div class='circle'></div>
                    </div>
                </div>
                 <div class="light-pole"></div>
            </div>
        </div>
        <div class="btn-row row">
            <div class="col l4">
                <a class="btn-large btn-outline" href="/scoreboard">View Scoreboard</a>
            </div>
            <div class="col l4">
                <button class="btn-large btn-outline modal-trigger" data-target="signUpModal">Sign Up</button>
            </div>
            <div class="col l4">
                <button class="btn-large btn-outline modal-trigger" data-target="loginModal">Login</button>
            </div>
        </div>
        <div class="row">
            <div class="ball">
                <div class="lace"></div>
            </div>
            <div class="fieldgoal left"></div>
            <div class="fieldgoal right"></div>
            <div class="grass"></div>
        </div>
        {{>signUpModal}} {{>loginModal}}
    </div>
</template>
