<template name="register">
    <div class="row">
        <div class="input-field col s4">
            <input id="emailSignup" type="text" class="validate" autofocus>
            <label for="emailSignup">Email</label>
        </div>
        <div class="input-field col s4">
            <input id="firstName" type="text" class="validate">
            <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s4">
            <input id="lastName" type="text" class="validate">
            <label for="lastName">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="passwordSignup" type="password" class="validate">
            <label for="passwordSignup">Password</label>
        </div>
        <div class="input-field col s6">
            <input id="passwordConfirmation" type="password" class="validate">
            <label for="passwordConfirmatio9n">Confirm Password</label>
        </div>
    </div>
</template>
