<template name="scoreboard">
    {{>nav}}
    <div class="row">
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle blue">1st</i>
                <h4 class="title">Logan</h4>
                <a href="#!" class="secondary-content"><i class="material-icons">20 Wins</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle teal">2nd</i>
                <span class="title">Matt</span>
                <a href="#!" class="secondary-content"><i class="material-icons">18 Wins</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">3rd</i>
                <span class="title">Erika</span>
                <a href="#!" class="secondary-content"><i class="material-icons">16 Wins</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">4th</i>
                <span class="title">Bee</span>
                <a href="#!" class="secondary-content"><i class="material-icons">14 Wins</i></a>
            </li>
        </ul>
    </div>
</template>
