<template name="scoreboard">
    {{>nav}}
    <div class="container scoreboard-conatiner">
        <div class="row push-down">
            <div class="col s8 l8 m8">
                <h4 class="white-text">Scoreboard</h4>
            </div>
            <div class="col s12 l4 m12">
                 <a class="btn-large btn-outline right" href="/picksByBowl"> View Upcoming Games</a>
            </div>
        </div>
        {{#each scores}}
        <div class="row user-row" data-userid="{{id}}">
            <div class="col l12 s12 m12">
                <div class="score-container">
                    <div class="col s2 m1 l1 place-text valign-wrapper">
                        <h4 class="white-text valign">{{index}}</h4>
                    </div>
                    <div class="col l6 s6 m6 name-container valign-wrapper">
                        <h5 class="valign">{{name}}</h5>
                    </div>
                    <div class="col l5 s4 m5">
                        <div class="wins-container">
                            <span class="right">{{wins}} wins</span>
                        </div>
                    </div>
                    {{#if currentUser}}
                    <div class="different-container">
                        <span>{{differences}} different</span>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
