<template name="viewUserPicks">
    {{>nav}}
    <div class="row bowlContainer">
        {{setId id=id}}
        {{#each bowls}}
        <div class="col l4 m12 s12">
            <div class="card card-small card-container" data-season="{{season}}">
                <div class="row cyan darken-1 white-text">
                    <div class="col s12 m12 l12">
                        <h4 id="name" class="inline left">{{bowlName}}</h4>
                        <p class="inline right">{{date}}</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col m6 s6 l6 center">
                            <div class="team-pick card">
                                <div class="card-content {{isCorrect name=bowlName season=season team=team1}}">
                                    <h5 id="pickText">{{team1}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s6 l6 center">
                            <div class="team-pick card">
                                <div class="card-content  {{isCorrect name=bowlName season=season team=team2}}">
                                    <h5 id="pickText">{{team2}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>
